task_10_deployment/bpel-deployment/PlaceOrderProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://bpel.globalbooks.com/"
            targetNamespace="http://bpel.globalbooks.com/"
            elementFormDefault="qualified">

    <!-- Complex Types -->
    <xsd:complexType name="OrderItemType">
        <xsd:sequence>
            <xsd:element name="bookId" type="xsd:string"/>
            <xsd:element name="quantity" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ShippingAddressType">
        <xsd:sequence>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="country" type="xsd:string"/>
            <xsd:element name="postalCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Request Elements -->
    <xsd:element name="placeOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="customerId" type="xsd:string"/>
                <xsd:element name="orderItems">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="item" type="tns:OrderItemType" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="shippingAddress" type="tns:ShippingAddressType"/>
                <xsd:element name="paymentMethod" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Response Elements -->
    <xsd:element name="placeOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="orderId" type="xsd:string"/>
                <xsd:element name="totalAmount" type="xsd:decimal"/>
                <xsd:element name="status" type="xsd:string"/>
                <xsd:element name="trackingNumber" type="xsd:string" minOccurs="0"/>
                <xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>